.buttonWrapper{
    margin-top:80px;
}

.mapContainer-maps{
    margin-top:10px;
}

.mButton{
    background-color:green;
    color:white;
}
.gButton{
    background-color:blue;
    color:white;
}
.pButton{
    background-color:red;
    color:white;
}