.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.headerText{
  margin-top: 60px;
  font-size:20px;
}

.logo{
  width: 65px;
  border-radius:60px;
  height: auto;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  -ms-border-radius:60px;
  -o-border-radius:60px;
}
.headerContainer{
  display: flex;
  flex-direction: row;
}

.headerText{
  margin-top: 70px;
  font-weight:bolder;
  position:fixed; left:40px;
  font-size: 20px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  width: 300px;
  font-weight: bold;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.formContainer:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

/* NAVBAR */

.navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-weight: lighter;
}

